/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 46.875rem) {
  .flex-center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  row-gap: 1.5625rem;
  -webkit-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

main {
  max-width: 90%;
  margin: 4.375rem 0rem;
}

main section#head {
  max-width: 45%;
  margin-bottom: 3.125rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main ul li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5625rem 1.875rem;
  background-color: white;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem -0.625rem black;
          box-shadow: 0.3125rem 0.3125rem 0.625rem -0.625rem black;
  max-height: 15.625rem;
  margin: 0.9375rem 0.9375rem;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

main ul li img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 2.5rem;
}

main ul li:nth-child(1) {
  position: relative;
  top: 7.8125rem;
}

main ul li:nth-child(3) {
  position: relative;
  top: 7.8125rem;
}

footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 46.875rem) {
  .flex-center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  row-gap: 1.5625rem;
  -webkit-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

@media screen and (max-width: 46.875rem) {
  main {
    margin: 6.25rem 0rem;
  }
  main section#head {
    max-width: 100%;
    margin-bottom: auto;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
  main ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  main ul li {
    margin: 1.25rem 0rem;
    max-height: initial;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main ul li:nth-child(1) {
    position: static;
  }
  main ul li:nth-child(3) {
    position: static;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 46.875rem) {
  .flex-center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  row-gap: 1.5625rem;
  -webkit-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 46.875rem) {
  .flex-center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  row-gap: 1.5625rem;
  -webkit-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #a3a5ae;
  background-color: #fafafa;
}

main section#head {
  text-align: center;
}

main section#head h1 {
  font-weight: 200;
  font-size: 2.5rem;
}

main section#head h1:last-of-type {
  color: #4c4e61;
  font-weight: 800;
  margin-bottom: 0.9375rem;
}

main section#head p {
  font-size: 1.0625rem;
}

main ul li h2 {
  font-weight: 800;
  font-size: large;
  color: #4c4e61;
  margin-bottom: 0.625rem;
}

main ul li:nth-child(1) {
  border-top: #45d3d3 solid 0.3125rem;
}

main ul li:nth-child(2) {
  border-top: #ea5353 solid 0.3125rem;
}

main ul li:nth-child(3) {
  border-top: #549ef2 solid 0.3125rem;
}

main ul li:nth-child(4) {
  border-top: #fcaf4a solid 0.3125rem;
}

footer {
  text-align: center;
  color: darkgreen;
  font-style: italic;
}

footer a {
  color: darkgrey;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

footer a:hover {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

@media screen and (max-width: 46.875rem) {
  main {
    text-align: center;
  }
  main section#head h1 {
    font-size: 1.6875rem;
  }
  main ul li {
    text-align: initial;
  }
}
/*# sourceMappingURL=estilos.css.map */