// Estilos
@import "reset";
@import "desktop";
@import "movil";
@import "util";
@import "guias";

// Variables:
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);

// _Reset Personalizado.
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Estilos Desktop.
body {
  font-family: 'Poppins', sans-serif;
  font-size: rem(15px);
  font-weight: 400;
  color: $Grayish_Blue;
  background-color: $Very_Light_Gray;
}

main {
  section#head {
    text-align: center;
    h1 {
      font-weight: 200;
      font-size: rem(40px);
      &:last-of-type {
        color: $Very_Dark_Blue;
        font-weight: 800;
        margin-bottom: rem(15px);
      }
    }
    p {
      font-size: rem(17px);
    }
  }
  ul {
    li {
      h2 {
        font-weight: 800;
        font-size: large;
        color: $Very_Dark_Blue;
        margin-bottom: rem(10px);
      }
      p {
      }
      &:nth-child(1) {
        border-top: $Cyan solid rem(5px);
      }
      &:nth-child(2) {
        border-top: $Red solid rem(5px);
      }
      &:nth-child(3) {
        border-top: $Blue solid rem(5px);
      }
      &:nth-child(4) {
        border-top: $Orange solid rem(5px);
      }
    }
  }
}

footer {
  text-align: center;
  color: darkgreen;
  font-style: italic;
  a {
    color: darkgrey;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: black;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

// Estilos Movil
@include movil {
  body {
  }

  main {
    text-align: center;
    section#head {
      h1 {
        font-size: rem(27px);
      }
      p {
      }
    }
    ul {
      li {
        text-align: initial;
      }
    }
  }

  footer {
  }
}
